**Data Types and Structures**

**Theoritical Questions**

### 1. **What are data structures, and why are they important?**
Data structures are ways of organizing and storing data efficiently to perform operations like insertion, deletion, search, and retrieval. They are crucial because they help ensure that data can be managed and manipulated in an optimal way depending on the type of operation required. Proper use of data structures improves efficiency in algorithms, memory usage, and computational speed.

---

### 2. **Explain the difference between mutable and immutable data types with examples**
- **Mutable data types** can be changed after they are created. Examples: Lists, dictionaries, and sets.
  ```python
  my_list = [1, 2, 3]
  my_list[0] = 10  # List can be modified
  ```
- **Immutable data types** cannot be changed after they are created. Examples: Strings, tuples, and integers.
  ```python
  my_string = "hello"
  my_string[0] = "H"  # This will raise an error, as strings are immutable
  ```

---

### 3. **What are the main differences between lists and tuples in Python?**
- **Mutability**: Lists are mutable, meaning they can be modified (elements can be changed, added, or removed). Tuples are immutable, meaning once they are created, they cannot be modified.
- **Syntax**: Lists use square brackets `[]`, while tuples use parentheses `()`.
  ```python
  my_list = [1, 2, 3]
  my_tuple = (1, 2, 3)
  ```
- **Performance**: Tuples are generally faster than lists because they are immutable and optimized for fixed-size storage.

---

### 4. **Describe how dictionaries store data**
Dictionaries store data in key-value pairs. The key is unique and is used to access the corresponding value. Internally, dictionaries use a hash table to store these pairs, which allows for fast lookups based on the key.
  ```python
  my_dict = {"name": "Alice", "age": 25}
  print(my_dict["name"])  # Output: Alice
  ```

---

### 5. **Why might you use a set instead of a list in Python?**
You might use a set instead of a list when:
- You need to ensure that all elements are unique (sets automatically remove duplicates).
- You need faster membership tests (checking if an item exists) since sets provide O(1) average-time complexity for lookups, while lists provide O(n).
  ```python
  my_set = {1, 2, 3}
  print(2 in my_set)  # Faster than checking in a list
  ```

---

### 6. **What is a string in Python, and how is it different from a list?**
A **string** in Python is a sequence of characters, and like tuples, strings are immutable. A **list**, on the other hand, is a collection of ordered elements that can be of any data type, and it is mutable.
- **String Example**: `my_string = "hello"`
- **List Example**: `my_list = [1, "hello", 3.14]`
  - Strings are used for textual data, while lists can hold mixed types and are generally used for more general purposes.

---

### 7. **How do tuples ensure data integrity in Python?**
Tuples ensure data integrity because they are immutable. Once a tuple is created, its contents cannot be changed, which guarantees that the data remains constant throughout the program.

---

### 8. **What is a hash table, and how does it relate to dictionaries in Python?**
A **hash table** is a data structure that stores data in an array format, where each element is indexed using a hash function. This allows for fast lookups, inserts, and deletes. In Python, dictionaries use hash tables internally to store key-value pairs efficiently.

---

### 9. **Can lists contain different data types in Python?**
Yes, lists in Python can contain elements of different data types. For example:
  ```python
  my_list = [1, "hello", 3.14, True]
  ```

---

### 10. **Explain why strings are immutable in Python**
Strings are immutable in Python for several reasons:
- **Efficiency**: Immutable objects are easier to optimize in memory. Strings are heavily used in Python, and immutability ensures that they can be safely shared across the program without causing unexpected modifications.
- **Security and safety**: When strings are immutable, you can avoid accidental changes, which helps maintain data integrity and reliability in the program.

---

### 11. **What advantages do dictionaries offer over lists for certain tasks?**
- **Fast lookups**: Dictionaries allow fast O(1) average-time complexity for lookups based on the key, while lists require O(n) time to search for an element.
- **Key-value mapping**: Dictionaries provide a way to associate values with unique keys, making them ideal for tasks like counting occurrences or storing data that has a clear relationship between keys and values.
  ```python
  my_dict = {"apple": 1, "banana": 2}
  ```

---

### 12. **How do sets handle duplicate values in Python?**
Sets automatically remove duplicates. When you add an element to a set, if that element is already present, it will not be added again.
  ```python
  my_set = {1, 2, 3, 3}
  print(my_set)  # Output: {1, 2, 3}
  ```

---

### 13. **Describe a scenario where using a tuple would be preferable over a list**
Using a tuple would be preferable when you need to store data that should not be modified, such as a set of constant configuration values or coordinates in a 2D space.
  ```python
  coordinates = (4, 5)
  ```

---

### 14. **How does the “in” keyword work differently for lists and dictionaries?**
- For **lists**, the `in` keyword checks for membership by searching through the list, which has a time complexity of O(n).
  ```python
  my_list = [1, 2, 3]
  print(2 in my_list)  # True
  ```
- For **dictionaries**, the `in` keyword checks for the existence of a key, and since dictionaries are implemented as hash tables, this operation is faster, with a time complexity of O(1) on average.
  ```python
  my_dict = {"a": 1, "b": 2}
  print("a" in my_dict)  # True
  ```

---

### 15. **Can you modify the elements of a tuple? Explain why or why not**
No, you cannot modify the elements of a tuple because tuples are **immutable**. Once a tuple is created, its elements cannot be altered. This behavior ensures data integrity.
  ```python
  my_tuple = (1, 2, 3)
  my_tuple[0] = 10  # This will raise an error
  ```

---

### 16. **What is a nested dictionary, and give an example of its use case**
A **nested dictionary** is a dictionary where the values themselves are dictionaries. They are useful when you need to represent complex hierarchical data, such as in cases involving multiple attributes per item.
  ```python
  employee = {
      "name": "Alice",
      "address": {"street": "123 Main St", "city": "Springfield"},
      "age": 30
  }
  ```

---

### 17. **Describe the time complexity of accessing elements in a dictionary**
Accessing elements in a dictionary is typically **O(1)** (constant time), thanks to the underlying hash table. However, in rare cases where hash collisions occur, it could degrade to O(n).

---

### 18. **In what situations are lists preferred over dictionaries?**
Lists are preferred when:
- You need an ordered collection of items.
- You don't require key-value pairs, just the ability to store and access elements by index.
- You need to allow duplicate values.

---

### 19. **Why are dictionaries considered unordered, and how does that affect data retrieval?**
Dictionaries are considered unordered because they do not guarantee the order of key-value pairs (prior to Python 3.7). However, starting with Python 3.7, dictionaries maintain insertion order. This does not affect data retrieval directly, but it means that the order of items when iterating over a dictionary was not predictable in earlier versions of Python.

---

### 20. **Explain the difference between a list and a dictionary in terms of data retrieval**
- **List**: Data is accessed by index, and the order is important. Access time is O(1) for known indices.
  ```python
  my_list = [10, 20, 30]
  print(my_list[1])  # Output: 20
  ```
- **Dictionary**: Data is accessed by key, not by index. Retrieval time is typically O(1), making dictionaries ideal for situations where you need to map keys to values.
  ```python
  my_dict = {"apple": 10, "banana": 20}
  print(my_dict["banana"])  # Output: 20
  ```

**Practical Questions**

**1. Create a string with your name and print it**

In [3]:
my_name = "Rupam Banerjee"  # Replace with your name
print(my_name)

Rupam Banerjee

**2. Write a code to find the length of the string "Hello World"**

In [4]:
string = "Hello World"
length = len(string)
print(length)

11

**3. Write a code to slice the first 3 characters from the string "Python Programming"**

In [5]:
string = "Python Programming"
sliced_string = string[:3]
print(sliced_string)

Pyt

**4. Write a code to convert the string "hello" to uppercase**

In [6]:
string = "hello"
uppercased_string = string.upper()
print(uppercased_string)

HELLO

**5. Write a code to replace the word "apple" with "orange" in the string "I like apple"**

In [7]:
string = "I like apple"
new_string = string.replace("apple", "orange")
print(new_string)

I like orange

**6. Write a code to create a list with numbers 1 to 5 and print it**

In [8]:
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

**7. Write a code to append the number 10 to the list [1, 2, 3, 4]**

In [9]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

**8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]**

In [10]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

**9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']**

In [11]:
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

**10. Write a code to reverse the list [10, 20, 30, 40, 50]**

In [12]:
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

**11. Write a code to create a tuple with the elements 100, 200, 300 and print it.**

In [13]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

**12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').**

In [14]:
my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last = my_tuple[-2]
print(second_to_last)

blue

**13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).**

In [15]:
my_tuple = (10, 20, 5, 15)
minimum_value = min(my_tuple)
print(minimum_value)

5

**14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').**

In [16]:
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)

1

**15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.**

In [17]:
fruits = ('apple', 'banana', 'cherry')
contains_kiwi = 'kiwi' in fruits
print(contains_kiwi)

False

**16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.**

In [18]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'a', 'c'}

**17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.**

In [19]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

**18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.**

In [20]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

 **19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.**

In [21]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

**20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.**

In [22]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

**21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.**

In [23]:
my_dict = {"name": "John", "age": 25, "city": "New York"}
print(my_dict)

{'name': 'John', 'age': 25, 'city': 'New York'}

**22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.**

In [24]:
my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

**23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.**

In [25]:
my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict['name']
print(name_value)

Alice

 **24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.**

In [26]:
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

 **25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.**

In [27]:
my_dict = {'name': 'Alice', 'city': 'Paris'}
key_exists = 'city' in my_dict
print(key_exists)

True

 **26. Write a code to create a list, a tuple, and a dictionary, and print them all.**

In [28]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'name': 'John', 'age': 25}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: (4, 5, 6)
Dictionary: {'name': 'John', 'age': 25}

**27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.**

In [29]:
import random

random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[4, 8, 24, 57, 61]

**28. Write a code to create a list with strings and print the element at the third index.**

In [30]:
my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']
element_at_third_index = my_list[3]
print(element_at_third_index)

date

**29. Write a code to combine two dictionaries into one and print the result.**

In [31]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

**30. Write a code to convert a list of strings into a set.**

In [32]:
my_list = ['apple', 'banana', 'cherry', 'apple']
my_set = set(my_list)
print(my_set)

{'apple', 'banana', 'cherry'}